*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.cabecalho{
    width: 100%;
    display: flex;
    background-color: cadetblue;
}
.menu-superior-lista{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.menu-superior-item{
    padding: 1rem;
}